a:link, a:visited, a:active { text-decoration:none; color:Blue }
a:hover { text-decoration:underline }
body { font-family:"Helvetica",Veranda,Sans-Serif; background:#25ADDF }
.excerpt { margin:5px; margin-left:0; width:70%;
    border:1px solid #FEB800; padding:5px; padding-top:0px;
    padding-bottom:0px; float:left; display:inline; font-family:"Calibri" }
.posterpics
{ width:23em; height:18em; }
.logo
{ margin-left:0; border:none; }
.image
{ margin:15px; float:right; display:inline; }
.img:hover
{ -moz-box-shadow: 0 0 20px gray; -moz-border-radius: 10px; }
.Title { width:75%; padding-top:20px; padding-left:10px; margin-bottom:30px;
    float:left; font-size:1.5em; height:112px }
div { -moz-border-radius:10px; -webkit-border-radius:10px; margin-bottom:0 }
.textarea { padding-left:15px; padding-top:-5px; padding-bottom:15px;
    padding-right:15px; border:2px solid #FEB800; background: #98D8F4;
    float:left; width:75%; -moz-border-radius: 10px }
.bot { width:100%; margin-bottom:30px; float:left }
/*The gallery idea and was done following a tutorial online */
#pictures {
  padding:0; 
  margin:0; 
  list-style-type:none; 
  overflow:hidden;
  width:665px; 
  height:320px; 
  border:1px solid #888; 
  background-image:url(../images/back.png);
}
#pictures li { float:left }
#pictures li img { width:30px; height:320px; border:0 }
#pictures li:hover { width:425px }
#pictures li:hover img { width:425px }
/*Navigation Bar*/
.navbar 
{ border:2px solid #FEB800; background: #98D8F4; padding:20px; margin-left:0 }
.navbar *{ margin:0; padding:0 }
.navbar ul { list-style-type:none; -moz-border-radius: 10px; padding:5px }
.navbar ul ul { display:none }
.navbar ul li:hover ul { display:block }
.navbar li a:link, .navbar li a:visited  
{ font-size: 90%; display: block; padding: 0.4em 0 0.4em 0.5em; text-decoration: none }
.navbar li a:hover { -moz-box-shadow: 0 0 20px gray; -moz-border-radius: 10px }