{% extends "base.html" %}

{% block title %}
Give Orders
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create Secret Report</h1>
    <form class="form-control bg-inverse" action="" method="post">
        {{ form.hidden_tag() }}
        <label>
            Enter your findings from your mission:
        </label>
        <textarea rows="8"{{form.summary(class="form-control")}}</textarea>
            {% for error in form.summary.errors%}
            <span class="label label-danger">{{ error }}</span>
            {% endfor%}
        <br>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
    <br>
</div>
{% endblock %}
