
<!-- extends from base layout -->
{% extends "base.html" %}
{% block content %}
  <div class="jumbo">
    <div class="container">
    <h1>Editing {{edituser.get_fullname()}}</h1>
    <form  class="form-group" action="" method="post" name="Edit user">
      {{ form.hidden_tag() }}
        Please enter your first name:
        {{ form.firstname(class='form-control') }}
        {% for error in form.firstname.errors %}
        <span class="label label-danger">{{ error }}</span>
        {% endfor %}<br>
        Please enter your last name:
        {{ form.lastname(class='form-control') }}
        {% for error in form.lastname.errors %}
        <span class="label label-danger">{{ error }}</span>
        {% endfor %}<br>
        Please choose your Military ID:
        {{ form.military_id(class='form-control') }}
        {% for error in form.military_id.errors %}
        <span class="label label-danger">{{ error }}</span>
        {% endfor %}<br>
        Please enter your Social Security Number:
        {{ form.ssn(class='form-control') }}
        {% for error in form.ssn.errors %}
        <span class="label label-danger">{{ error }}</span>
        {% endfor %}<br>
        Please select your group:<br>
        {{ form.group(class='form-control') }}
        {% for error in form.group.errors %}
        <span class="label label-danger">{{ error }}</span>
        {% endfor %}<br>
        <br>

      <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
    </div>
{% endblock %}
