{% extends "base.html" %}

{% block title %}
{{ user.get_fullname() }}'s User Profile
{% endblock %}

{% block content %}
<div class="container">
    <h1>Profile</h1>
    <p class="text-muted">Welcome {{ user.get_group() }}! This is the personal profile of {{ user.get_fullname() }}.
        If you are not {{ user.get_fullname() }} or are not authorized to access this page,
        please disconnect immediately.</p>

        <div class="list-group text-xs-center ">
        <div class="list-group-item text-xs-center bg-inverse">
            <h4 class="list-group-item-heading">Basic User Information</h4><br>
            <p class="list-group-item-text">Username: {{ user.username }}</p><br>
            <p class="list-group-item-text">Group: {{ user.get_group() }}</p><br>
            <p class="list-group-item-text">Email: {{ user.email() }}</p><br>
            <p class="list-group-item-text">Date Enlisted: {{ user.creation_date.strftime("%d %b %Y %H:%M")}}</p><br>
            <p class="list-group-item-text">Military ID: {{ user.military_id }}</p><br>
            <p class="list-group-item-text">Social Security Number: {{ user.ssn }}</p>
        </div>
        </div>
    </div>
</div>

{% endblock %}
